<div class="sub_admin_menu">
  <span class="actions"><%= link_to 'Manage Pages', :action => :list %></span>&nbsp;|&nbsp;
  <span class="actions"><%= link_to 'Create Page', :action => :new %></span> 
</div>
