<table>
  <tr>
    <th class="la" width="10px">Id</th>
    <th class="la" width="400px">Content</th>
    <th class="la" width="50px">Date</th>
    <th class="la" width="150px">Name</th>
    <th class="la" width="50px">Email</th>
    <th class="la" width="50px">Section</th>
    <th class="la" width="150px">Article</th>
    <th class="la" width="10px">Show</th>
    <th class="la" width="150px"></th>
  </tr>
  <%= render :partial => "comment", :collection => comments %>
</table>

