<h1><%= @post.title %></h1>

<div id="article_date">
  <div class="author">by <%= @post.user.name %></div>
  <div class="article_date"><%= @post.created_at.strftime("%B %d, %Y %I:%M%p") %></div>
</div>
<div class="print">
<p class="feature_first_paragraph">
  <%= @post.content %>
</p>
</p>