<div class="sub_admin_menu">
  <span class="actions"><%= link_to 'Manage Articles', :action => :list %></span>&nbsp;|&nbsp;
  <span class="actions"><%= link_to 'Create Article', :action => :new %></span> 
</div>