<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @page_title %></title>
    <%= theme_stylesheet_link_tag 'master' %>
  </head>
  <body id="index">
    
    <div id="header">
      <%= link_to theme_image_tag("pp_logo.gif"), home_path %>
      <%= link_to theme_image_tag("published_ecotrust.gif", :class => "published_by_ecotrust_link"), "http://ecotrust.org" %>
    </div>
    
    <div id="main_nav">
      <div>
        <span>volume <%= @volume_number %> issue <%= @issue_number %></span> 
      </div>
    </div>
    
    <div id="wrapper">
        <div id="content">
          <%= yield %>
        </div>
    </div>
  </body>
</html>